<mat-card class="warn mat-elevetion-z4" mat-card color="accent">
    <mat-card-title class="warnTitle">
        Tem certeza de deseja se matrícular no curso {{ course.title }} ?
    </mat-card-title>
</mat-card>

<mat-card class="warnSubTitle mat-elevetion-z4" mat-card color="accent">
    <mat-card-title class="warnSubSubTitle">
        Todas as matérias que compõe o curso: 
    </mat-card-title>
</mat-card>

<div class="content">

    <div class="mat-elevation-z8 content-table">
        <table class="coursesTable" mat-table [dataSource]="courseClasses">

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> TITLE </th>
              <td mat-cell *matCellDef="let row"> {{ row.title }} </td>
            </ng-container>

            <ng-container matColumnDef="teacherName">
                <th mat-header-cell *matHeaderCellDef> TEACHER NAME </th>
                <td mat-cell *matCellDef="let row"> {{ row.teacherName }} </td>
            </ng-container>

            <ng-container matColumnDef="credit">
            <th mat-header-cell *matHeaderCellDef> CREDIT </th>
            <td mat-cell *matCellDef="let row"> {{ row.credit }} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
    </div>
</div>


<div class="buttons">
    <div class="ok">
        <button mat-raised-button color="accent" (click)="confirmRegistration()">CONFIRM</button>
    </div>
    <button mat-raised-button color="accent" (click)="cancelRegistration()">CANCEL</button>
</div>

