<mat-card class="login mat-elevetion-z4" mat-card color="accent">
    <mat-card-title class="loginTitle">
        Informe seus dados
    </mat-card-title>
</mat-card>

<mat-card class="information mat-elevetion-z4" mat-card color="accent">
    <mat-form-field class="form">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="user.email" type="text" name="E-mail" placeholder="Ex. teste@gmail.com">  
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="user.password" type="text" name="Password" placeholder="Ex. 123456789">  
    </mat-form-field>
</mat-card>

<div class="buttons">
    <div class="ok">
        <button  color="accent" (click)="userLogIn()">CONFIRM</button>
    </div>
    <button color="accent" (click)="cancelLogin()">CANCEL</button>
</div>

