.courseClass
{
    width: 75%;
    margin: 2rem auto;
    margin-bottom: 10rem;
}
.courseClassTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.courses
{
    width: 40%;
    margin: 2rem auto;
    margin-bottom: 10rem;
}

.coursesTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.content
{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.coursesTable
{
    width: 100%;
}