<mat-card class="home mat-elevetion-z4" mat-card color="accent">
    <mat-card-title class="title">
        Bem-vindo!!!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        App com o propósito de gerenciar alunos e professores de uma escola 
    </mat-card-subtitle>
</mat-card>

<mat-card class="professor mat-elevetion-z4" mat-card color="accent">
    <mat-card-title class="professorTitle">
        Sou professor
    </mat-card-title>
    <mat-card-subtitle class="professorSubtitle">
        Como professor você pode se designar para determinadas matérias assim como gerenciar materias
    </mat-card-subtitle>
</mat-card>

<mat-card class="aluno mat-elevetion-z4" mat-card color="accent">
    <mat-card-title class="alunoTitle">
        Sou aluno
    </mat-card-title>
    <mat-card-subtitle class="alunoSubtitle">
        Como aluno você pode se cadastrar em cursos e matérias destes respectivos cursos
    </mat-card-subtitle>
</mat-card>

